/* 폰트 임포트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400,300,100|Roboto:100,300,400,700);

@import url('https://cdn.rawgit.com/singihae/Webfonts/master/style.css');

body {
    margin: 0;
    padding: 0;
    color: #3a3a3a;
    font-family: Roboto, 'Nanum Gothic', Arial, Sans-serif;
    overflow: scroll;
}

#header {
    padding: 50px 100px;
}
.date {
    color: #eaeaea;
    position: relative;
    padding: 0 80px 0 20px;
    margin: 0;
    display: inline-block;
    min-height: 152px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
}

#duru {
    position: fixed;
    z-index: 2;
    top: 40px;
    right: 40px;
    width: 67px;
    height: 43px;
    text-indent: -9999px;
}


#copyright {
    padding: 50px 120px;
    color: #e5e5e5;
    float:right;
}


#body {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#word-display {
    font-family: 'Nanum Brush Script', 'Nanum Gothic', 'Times New Roman', Serif;
    font-size: 150px;
    font-weight: 400;

    line-height: 1.5;
    padding: 20px 160px 20px 160px;
    text-align: center;
}
#word-display:hover {
    background-color: #e5e5e5;
}





